<div class="section">
	<h2 class="text-center text-uppercase">Invite user</h2>
	<hr/>
	<form>
	  <div class="form-group">
	    <label for="name">Name</label>
	    <input type="text" class="form-control" id="name" placeholder="Name">
	  </div>
	  <div class="form-group ">
	    <label for="email">Email address</label>
	    <input type="email" class="form-control" id="email" placeholder="Email">
	  </div>
	  <div class="text-center">
	  	<button type="submit col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4" class="btn btn-default">Submit</button>
	  </div>
	</form>
</div>