

.subsection{
    padding:0;
    margin:0;
}

.stock-item{
    margin-bottom:3em;
}

.stock-item > *{
    padding: 0 0 1em 1em;
   
}
.stock-item .title{

    // background-color: darkgray;
}

.stock-item:hover{
    cursor:pointer;
}

.stock-item h2{
    margin:0;
}


.stock-item .ratings{
    margin:0;
    font-size: 2em;
    background-color:#999999;
}


.image{
    width:3.5em;
    height:3.5em;
    background-color: #fff;
    display:inline-block;
    margin-right:0.5em;
}

.image-stock{
    background-image: url("/assets/slide_img.jpg");
    background-size: 3.5em;
}

.image-user{
    background-image: url("/assets/person_img.jpg");
    background-size: 3.5em;
}

.info {
    display:inline-block;
}