<div class="section stock-item col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <div *ngIf="!item" class="subsection cssload-container" style="height:10vh;">
    <div class="cssload-whirlpool"></div>
  </div>
  <div *ngIf="item" class="title">
    <span  [routerLink]="['../']" class="glyphicon glyphicon-menu-left back-button"  style="cursor:pointer; vertical-align: middle;" aria-hidden="true"></span>
    <span >{{item.name}}</span>    
  </div>
  <div *ngIf="item" class="content">
    <span>{{item.description}}</span>
    <div class="comments text-center">
       <span>Comments:</span>      
       <div *ngFor="let comment of item.comments" class="comment text-left">
          <div class="sender"><span>{{comment.createdBy.name}}</span></div>
          <div class="message"><span>{{comment.message}}</span></div>
          <div class="time pull-right"><span>{{comment.time}}</span></div>
       </div>
       <div class="add-comment text-left">
         <form  #form="ngForm" (ngSubmit)="onSubmit(form.value)" >
           <input type="text" placeholder="comment text here" name="comment" ngModel required/>
           <input type="submit" style="visibility: hidden;" />
         </form>
       </div>
    </div>
  </div>  
</div>