<div class="section stock-item col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <div *ngIf="!item" class="subsection cssload-container" style="height:10vh;">
    <div class="cssload-whirlpool"></div>
  </div>
  <div *ngIf="item">
    <div class="title">
      
       <span  [routerLink]="['../']" class="glyphicon glyphicon-menu-left back-button"  style="cursor:pointer; vertical-align: middle;" aria-hidden="true"></span>
       
       <div *ngIf="canEdit()" class="pull-right delete-button" (click)="deleteItem()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
       </div>
       <div *ngIf="canEdit()" class="pull-right edit-button" (click)="editItem()">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
       </div>

       <h1>{{item.name}}</h1>
       <span class="creator">Creator: {{item.creator.name}} &emsp; &emsp;Ratings: {{item.ratings}}</span>
       <span class="creator">Size: {{item.width}}x{{item.height}}</span>
             <div class="creator picture" [style.background-color]="item.colored ? item.imageUrl : null" [style.width.em]="item.width*4" [style.height.em]="item.height*4">
          
          <img *ngIf="!item.colored" [src]="item.imageUrl"  [style.width.em]="item.width*4" [style.height.em]="item.height*4">
        </div>
    </div>
    <div class="content">
      <span>{{item.description}}</span>
    </div>  
  </div>
</div>
<div  *ngIf="item" class="section vote col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2comments text-center">
   <button  [disabled]="userRating.value==1" [ngClass]="{'not-voted': userRating.value==-1}"class="btn btn-default votebutton col-md-6 col-sm-6" (click)="upvote()">
     Upvote
   </button>
    <button [disabled]="userRating.value==-1" [ngClass]="{'not-voted': userRating.value==1}" class="btn btn-default votebutton col-md-6 col-sm-6" (click)="downvote()">
      Downvote
   </button>
</div>

<div  *ngIf="item" class="section comments col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2comments text-center">
    <span>Comments:</span>      
    <div *ngFor="let comment of item.comments" class="comment text-left">
      <div class="sender"><span>{{comment.createdBy.name}}</span></div>
      <div class="message"><span>{{comment.message}}</span></div>
      <button *ngIf="comment.createdBy.id==auth.user.id" (click)="deleteComment(comment.id)" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove" style="cursor:pointer; vertical-align: middle;" aria-hidden="true"></span></button>          
      <div class="time pull-right"><span>{{comment.time | date: 'short'}}</span></div>
    </div>
    <div class="add-comment text-left">
      <form  #form="ngForm" (ngSubmit)="onSubmit(form.value); form.reset()">
        <input type="text" placeholder="comment text here" name="comment" ngModel required/>
        <input type="submit" style="visibility: hidden;" />
      </form>
    </div>
</div>