<div class="section stock-item col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <div *ngIf="!item" class="subsection cssload-container" style="height:10vh;">
    <div class="cssload-whirlpool"></div>
  </div>
  <form [formGroup]="stockEditForm" (ngSubmit)="onSubmit(stockEditForm.value)">
    <div *ngIf="item">
      <div class="title">
        <span  [routerLink]="['../']" class="glyphicon glyphicon-menu-left back-button"  style="cursor:pointer; vertical-align: middle;" aria-hidden="true"></span>
        <input type="text" class="form-control" id="name" value="{{item.name}}" [formControl]="stockEditForm.controls['name']"> 


      </div>
      <div class="content">
        <textarea rows="4" class="form-control" id="description"  formControlName="description" [formControl]="stockEditForm.controls['description']">
        </textarea>
      </div>  
      		<div class="form-group col-sm-6 col-md-6 col-lg-6">
	    <label for="width">Width</label>
	    <input type="number" class="form-control" id="width" placeholder="Width" [formControl]="stockEditForm.controls['width']"> 
	    <div class="alert alert-danger" *ngIf="!stockEditForm.controls['width'].valid">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				You must not leave this field empty.</div>
	  </div>

		<div class="form-group col-sm-6 col-md-6 col-lg-6 ">
	    <label for="height">Height</label>
	    <input type="number" class="form-control" id="height" placeholder="Height" [formControl]="stockEditForm.controls['height']"> 
	    <div class="alert alert-danger" *ngIf="!stockEditForm.controls['height'].valid">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				You must not leave this field empty.</div>
	  </div>

		<div class="form-group ">
	    <label for="imgurl">Image URL or HEX color</label>
	    <input type="text" class="form-control" id="imgurl" placeholder="Image URL or HEX color" formControlName="imgurl">
	    <div class="alert alert-danger" *ngIf="!stockEditForm.controls['imgurl'].valid">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				You must not leave this field empty.</div>
	  </div>
    </div>
    <div class="text-center">
	  	<button [disabled]="!stockEditForm.valid" [class.enabled]="!stockEditForm.valid" type="submit" class="btn btn-default">Submit</button>
	  </div>
  </form>
</div>
