<div class="container">
	<div class="row" style="margin-top:30px;">
		<input class="btn btn-primary " value="GET Public route" (click)="getPublic()">
		<span>{{publicdata}}</span>
	</div>

	<div class="row" style="margin-top:30px;">
		<input class="btn btn-primary " value="GET User route" (click)="getUser()">
		<span>{{userdata}}</span>
	</div>
	<div *ngIf="authService.isAdmin()" class="row" style="margin-top:30px;">
		<input class="btn btn-primary " value="GET Admin route" (click)="getAdmin()">
		<span>{{admindata}}</span>
	</div>
<!-- 	<div class="row" style="margin-top:100px;">

		<table class="table table-hover">
			<thead>
				<td>ID</td>
				<td>Name</td>
				<td>Username</td>
			</thead>
			<tr *ngFor="let user of users">
				<td>{{user.id}}</td>1
				<td>{{user.name}}</td>
				<td>{{user.username}}</td>
			</tr>

		</table>
	</div> -->
</div>