<router-outlet>

  <div class="section col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div *ngIf="!stock" class="subsection cssload-container" style="height:10vh;">
      <div class="cssload-whirlpool"></div>
    </div>
    <div *ngIf="stock" class="text-center">
      <button routerLink="add" class="btn btn-primary" ><span  class="glyphicon glyphicon-plus" ></span><span> Create new stock item</span></button>
    </div>
    <div *ngFor="let item of stock" (click)="onSelect(item)" class="stock-item subsection">

      <div class="title">
        <div class="picture" [style.background-color]="item.colored ? item.imageUrl : null" [style.width.em]="item.width*4" [style.height.em]="item.height*4">
          
          <img *ngIf="!item.colored" [src]="item.imageUrl"  [style.width.em]="item.width*4" [style.height.em]="item.height*4">
        </div>
        <div>
          <h2>{{item.name}}</h2>
          <span class="text-right">Creator: {{item.creator.name}}</span>
          <span class="text-right pull-right">Votes: {{item.ratings}}</span>
          <div>
            <span class="text-right">Size: {{item.width}}x{{item.height}}</span>
          </div>
        </div>
      </div>
      
      <div>{{item.description}}</div>
    </div>
  </div>
</router-outlet>