

.subsection{
    padding:0;
}

.stock-item{
    margin-top:3em;
}

.stock-item > *{
    padding:1em;
   
}
.stock-item .title{
    width:auto;
    background-color: darkgray;
}

.stock-item .title  > * {
    display:inline-block;
    
}

.stock-item:hover{
    cursor:pointer;
}

.stock-item h2{
    margin:0;
}


.stock-item .ratings{
    margin:0;
    font-size: 2em;
    background-color:#999999;
}