<router-outlet>

  <div class="section col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div *ngIf="!users" class="subsection cssload-container" style="height:10vh;">
      <div class="cssload-whirlpool"></div>
    </div>
    <div *ngFor="let user of users" (click)="onSelect(user)" class="user subsection">
      <div class="title">
        <h2>{{user.name}}</h2>
        <span class="text-right">Email: {{user.email}}</span>
        <span class="text-right pull-right">Role: {{user.role}}</span>
      </div>
      
    </div>
  </div>
</router-outlet>