<div #container (window:resize)="onResize(container.getBoundingClientRect())" class=" container col-md-12 col-sm-12 col-lg-12"
	[style.min-height.px]="box_width*rows"
	[style.height.px]="box_width*rows">
	<div *ngFor="let rowindex of rowIndexes" 
	class="map-row" 
	[style.height.px]="box_width"
	[style.top.px]="box_width*rowindex"
	[style.min-height.px]="box_width">
		<!-- overlay for drawing the grid-->
		<div *ngFor="let colindex of colIndexes" 
			class="map-slot"
			[style.width.px]="box_width"
			[style.min-width.px]="box_width"
			[style.left.px]="box_width*colindex-5" 
			[style.height.px]="box_width"
			[style.top.px]="box_width*rowindex"
			
			[attr.x_pos]="colindex"
			[attr.y_pos]="rowindex"
			[style.min-height.px]="box_width">
		</div>
		<!-- the actual grid itself, which is invisible-->
		<div *ngFor="let colindex of colIndexes" 
		class="drag-map-slot"
		[dragula]="mapService.bagName"
		[dragulaModel]="getSlot(rowindex, colindex)" 
		[style.width.px]="box_width"
		[style.min-width.px]="box_width"
		[style.left.px]="box_width*colindex-5" 
		[style.height.px]="box_width"
		[style.top.px]="box_width*rowindex"
		
		[attr.x_pos]="colindex"
		[attr.y_pos]="rowindex"
		[style.min-height.px]="box_width">
			<!-- the items on the grid-->
			<div *ngIf="getItem(rowindex, colindex)" class="map-item"
				[class.map-item-draggable]="getItem(rowindex, colindex).draggable"
				[style.width.px]="getItem(rowindex, colindex).width*box_width-2"
				[style.height.px]="getItem(rowindex, colindex).height*box_width-2"
				[class.wall]="!getItem(rowindex,colindex).draggable"
				[attr.x_pos]="colindex"
				[attr.y_pos]="rowindex"
				[attr._id]="getItem(rowindex, colindex).id"
				[style.background-color]="getItem(rowindex, colindex).color">
				<!--<img *ngIf="getItem(rowindex,colindex)?.bgImageUrl?.length>0" 
				[src]="getItem(rowindex,colindex)?.bgImageUrl? getItem(rowindex,colindex)?.bgImageUrl : '' " alt=""/>-->
				<img *ngIf="getItem(rowindex,colindex)?.bgImageUrl?.length==1" 
				[src]="getItem(rowindex,colindex)?.bgImageUrl? getItem(rowindex,colindex)?.bgImageUrl : '' " alt=""/>

			</div>

		</div>
	</div>

</div>



<div class="col-md-12 col-sm-12 col-lg-12">
	<div class="section map-add-item-container"
	[dragula]="mapService.bagName"
	[dragulaModel]="mapService.getStock()">

			<div   *ngFor="let item of mapService.getStock()"
			class="map-add-item "

			[attr.width]="item.width"
			[attr.height]="item.height"
			[attr._id]="item.id"
			>

				<img *ngIf="item?.bgImageUrl?.length>0" 
				[style.background-color]="item.color"
				/>

				<img *ngIf="item?.bgImageUrl?.length<=0"
				class="map-item-draggable"
				[style.background-color]="item.color"
				[style.width.px]="item.width*box_width-2"
				[style.height.px]="item.height*box_width-2"
				[src]="item?.bgImageUrl? item?.bgImageUrl : '' " alt=""/>

				<p class="text-center map-add-item-name"
				
				>{{item.name}}</p>
				<!--[style.left.px]="item.width*box_width"-->
			</div>
			
		
	</div>
</div>