

.map-slot{
    background-color:rgba(240,240,240,0.1);   
    // margin-right:-20px;
    border:1px solid #ccc;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.03);
    padding-right:5px;
    margin:0;
    padding:0;
    z-index: -5;
    position:absolute;
    overflow:visible;
    // z-index: 200;
}


.drag-map-slot{
    padding-right:5px;
    margin:0;
    padding:0;
    position:absolute;
    overflow:visible;
    z-index:10;

}

.drag-map-slot:last-of-type{
    margin-bottom:100px;
}

.map-row{
    display:inline-block;
    padding:0;
    margin:0;
    opacity: 1.0;
    // position:absolute;
    overflow:visible;
    // position:absolute;
}

.map-item{
    background-color:#fdd;
    // position:relative;
    // display:inline-block;
    z-index:0;
    margin:1px;
    padding:1em;
  
    position:absolute;
    overflow:visible;
    background-color: #ffffff;
    
}

.map-item-draggable{
    transition: box-shadow 0.1s;   
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    clip-path: polygon(0% 20px,  20px 0%, 120% 0%, 120% 120%,0 120%);
    cursor:-webkit-grab;
}

.map-item-draggable:hover{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
     z-index:2;
}
.map-item-draggable:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 0px 20px 20px;
  border-style: solid;
  border-color: rgba(200, 200, 200, 0.7) rgba(0,0,0,0);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3), 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 1px 1px 8px 0;
}



.map-item .glyphicon{
    color:rgba(200,200,200,0.8);
    font-size: 2em;
}

.gu-mirror{
   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 15px 0 rgba(0, 0, 0, 0.19);
}
.gu-transit{
   opacity:.3;
   filter:alpha(opacity=30);
}

.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);cursor:-webkit-grabbing;}
.gu-hide{display:none!important;cursor:-webkit-grabbing;}
.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important;cursor:-webkit-grabbing;}
.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20);cursor:-webkit-grabbing;}






.add-container{
    display:block;
    position:absolute;
    right:2em;
    bottom:2em;

}

 .map-item-draggable:hover .add-container{
   display:none;
 }