<!-- <div class="map section map" style="height:800px">
</div> -->

<!--<div class="container" style="height:300px;" [dragula]="'bag-one'" [dragulaModel]="items1">
	<div *ngFor="let item of items1" class="subsection" >{{item}}</div>
</div>
<div class="container" style="height:300px;" [dragula]="'bag-one'" [dragulaModel]="items2">
	<div *ngFor="let item of items2" class="subsection" >{{item}}</div>
</div>

<div class="container" style="height:300px;" [dragula]="'bag-one'" [dragulaModel]="items3">
	<div *ngFor="let item of items3" class="subsection" >{{item}}</div>
</div>-->

<!--<div class="container-fluid">
	<div *ngFor="let row of map;let rowindex = index" class="row" [style.height.px]="box_width">
		<div *ngFor="let column of row;let colindex = index" class="col col-md-1"  [style.width.px]="box_width">
			<div [dragula]="'bag-one'" [dragulaModel]="column" class="map-slot"
			[style.min-width.px]="box_width+2"
			[style.min-height.px]="box_width+1"
			[attr.x_pos]="colindex"
			[attr.y_pos]="rowindex">
				<div *ngFor="let item of column" class="map-item"
					[style.width.px]="item.width*box_width-1"
					[style.height.px]="item.height*box_width"
					[attr.x_pos]="item.x"
					[attr.y_pos]="item.y"
					[style.background-color]="item.color">
					
				</div>
			</div>
		</div>
	</div>
</div>-->
<div #container (window:resize)="onResize(container.getBoundingClientRect())" class="col-md-12 col-sm-12 col-lg-12"
	[style.min-height.px]="1000">
	<div *ngFor="let row of map;let rowindex = index" 
	class="map-row" 
	[style.height.px]="box_width"
	[style.top.px]="box_width*rowindex"
	[style.min-height.px]="box_width">
		<div *ngFor="let slot of row;let colindex = index" 
		[dragula]="'bag-one'"
		[dragulaModel]="slot"
		class="map-slot"
		[style.width.px]="box_width"
		[style.min-width.px]="box_width"
		[style.left.px]="box_width*colindex-15" 
		[style.height.px]="box_width"
		[style.top.px]="box_width*rowindex"
		[attr.x_pos]="colindex"
		[attr.y_pos]="rowindex"
		[style.min-height.px]="box_width">
			<div class="map-item"
				[style.width.px]="slot[0]?.width*box_width-1"
				[style.height.px]="slot[0]?.height*box_width"
				[attr.x_pos]="colindex"
				[attr.y_pos]="rowindex"
				[style.background-color]="slot[0]?.color">
			</div>
		</div>
	</div>
</div>